# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Environment variables
.env

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db